<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href='{% static "css/index.css" %}' />
    <title>Главная страница</title> 
  </head>
  <body>
    <div class="header">
        <div class="title">
            
        </div>
        <div class="contentr">
            <p class="contenttxt">Быстро, качественно и с любовью к своему делу разработаем для Вас дизайн:</p>
            <div class="contr">
            <ul class="contenttxt contbox floatl">
                <li class="bi bi-flower3">Визиток</li>
                <li class="bi bi-flower3">Листовок</li>
                <li class="bi bi-flower3">Буклетов</li>
                <li class="bi bi-flower3">Обложек</li>
                <li class="bi bi-flower3">Меню</li>
                <li class="bi bi-flower3">Афиш</li>
                <li class="bi bi-flower3">Плакатов</li>
            </ul>
            <ul class="contenttxt floatr contbox">
                <li class="bi-flower3">Календарей</li>
                <li class="bi bi-flower3">Грамот</li>
                <li class="bi bi-flower3">Конвертов</li>
                <li class="bi bi-flower3">Бейджей</li>
                <li class="bi bi-flower3">Пакетов</li>
                <li class="bi bi-flower3">Бланков</li>
                <li class="bi bi-flower3">Другой полиграфии</li>
            </ul>
            </div>
        </div>
        <div class="contentl"> 
            <div class="icons">
                <p class="contenttxt txtc">Мы в социальных сетях</p>
                <a href="https://vk.com/alenka_svetlanka"><img src='{% static "images/vk.png" %}' width="100px", height="100px"></a>
                <a href="https://www.instagram.com/shekera_s_art/"><img src='{% static "images/inst.png" %}' width="100px", height="100px"></a>
                <a href="https://www.instagram.com/alenkar_design/"><img src='{% static "images/inst.png" %}' width="100px", height="100px"></a>
            </div>
        </div>
            <p class="txtsmall">Наша почта: yashagod49@gmail.com<br>Telegram/WhatsApp: 89214374272, 89214374303</p>
    </div>
    {% block content %}
    <div class="infoblock">
      <div class="leftcontb">
      <div class="carus">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src='{% static "images/1.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/2.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/3.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/4.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/5.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/6.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/7.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/8.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/9.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/10.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/11.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/12.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/13.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/14.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/15.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/16.jpg" %}' class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src='{% static "images/17.jpg" %}' class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
        </div>
      </div>
      </div>   
   
    
    <div class="rightcontb">
      <div class="carus2">
        <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src='{% static "images/20.jpg" %}' class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src='{% static "images/21.jpg" %}' class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src='{% static "images/23.jpg" %}' class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src='{% static "images/24.jpg" %}' class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src='{% static "images/25.jpg" %}' class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src='{% static "images/26.jpg" %}' class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src='{% static "images/27.jpg" %}' class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src='{% static "images/28.jpg" %}' class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src='{% static "images/29.jpg" %}' class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src='{% static "images/30.jpg" %}' class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src='{% static "images/31.jpg" %}' class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src='{% static "images/32.jpg" %}' class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src='{% static "images/33.jpg" %}' class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>
    </div>
    </div>
    <div class="infoblock2">
      <div class="leftcont2">
        <div class="formcont">
        <form class="formtxt" id="update_data" method="post">
          <h2 class="title2">Оставить заявку</h2>
          {% csrf_token %}
          {{ form }}
      </form>
      <button form="update_data" type="submit" class="btn btn-dark mt-4 floatr">Отправить</button>
      </div>
      </div>
      <div class="rightcont2">
        <div class="formcont">
          <ul>
            <li class="bi bi-check2">Вы можете отправить заявку и мы свяжемся с вами в кротчайшие сроки.<br>&nbsp;&nbsp;&nbsp;&nbsp;Заявки рассматриваются с<strong> 8.00 </strong> до <strong> 22.00 </strong>, каждый день.</li>
            <li class="bi bi-check2 mt-4">Вы так же можете связаться с нами через почту или месенджеры.<br>&nbsp;&nbsp;&nbsp;&nbsp;Либо переходите на наши страницы в социальных сетях.</li>
            <li class="bi bi-check2 mt-4">Мы поможем вам реализовать ваши мысли, либо сделаём всё за вас.<br>&nbsp;&nbsp;&nbsp;&nbsp;В нашем штате высококвалифицированные специалисты.</li>
            <li class="bi bi-check2 mt-4">Выполним срочные заказы, так же можем работать на долгосрочной основе.<br>&nbsp;&nbsp;&nbsp;&nbsp;Условия сотрудничества обсуждаются индивидуально.</li>
            <li class="bi bi-check2 mt-4">Предоставляем промежуточные итоги, а так же план разработки.<br>&nbsp;&nbsp;&nbsp;&nbsp;По любым вопросам обращайтесь вышеперечисленными способами.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="infoblock3">
      <div class="prisepicblock">
        <img class="prisepic" src='{% static "images/prise.png" %}'> 
      </div>
      <div class="priseinfoblock">
        <div class="contentprise">
          ajkshdgk
        </div>
      </div>
    </div>
    {% endblock %} 
  </body>
</html>